@import url('mobile.css') only screen and (orientation: portrait);
@import url('laptop.css') only screen and (orientation: landscape);

.dialog {
    min-width: 20%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(185, 211, 182);
    border: 1px solid #000000;
    z-index: 5;
}

.dialog .header {
    margin: 0px;
    padding: 2px;
    border-bottom: 1px solid #404040;
    background-color: rgb(145, 189, 141);
}

.dialog .body {
    padding: 10px;
    min-height: 70px;
}

.dialog .footer {
    margin: 0px;
    padding: 2px;
    border-top: 1px solid #000000;
    width: 100%;
}

.dialog .footer button + button {
    float: right;
}

.dialog .footer button:only-child {
    text-align: center;
}

.diary_item_day {
    background-color: #FFFFFF;
}
.diary_item_trick {
    background-color: rgb(241, 255, 160);
}
.diary_item_budget {
    background-color: rgb(235, 169, 255);
}

.errordisplay {
    background-color: #FFA0A0;
}

.loadingdisplay {
    width: 40%;
    height: 30%;
    position: absolute;
    left: 30%;
    top: 35%;
    background-color: #C0C0C0;
}