export default {
    thumbPath: "/var/www/vps.sukovec.cz/thumbs",
    rawPath: "/home/suk/backed-photo",
    serverPort: 9080,
    serverListen: "0.0.0.0",
    exportThumbPath: "/var/www/vps.sukovec.cz/test-thumbs",
    databasePath: "/home/suk/code/cestopis/data",
    sessionSecret: "this-is-session-secret-change-it-for-production"
};